Now that the port has been configured locally, you should set up your GitHub repository:
1) Create the repository ({{ repositoryURL }})
2) Ensure the default branch is 'main'
3) Set the repository description as "<emoji> Soothing pastel theme for {{ appName }}". <emoji> should be an emoji that you feel represents the app best.
4) Add 'catppuccin', 'theme', and the name of the application ({{ appName }}) to the topics.
